 
 @font-face { font-family: autumn; src: url('Autumn.TTF'); } 
  @font-face { font-family: roboto; src: url('Roboto.TTF'); } 
*
{
  margin: 0px;
   

  padding: 0px;
}

#nav 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  position: absolute;
  top: 8px;
  right: 16px;

}
#nav img{float: right ; margin-left:20px ;}


.navitems 
{
  float: right;
  
}

.navitems a 
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  
  font-family: 'Source Sans Pro', sans-serif;

}

.navitems a:hover:not(.active) 
{
  
  background-color: rgb(245, 107, 17);
  color: white;
  border-radius: 7px;
}
.footer 
{
 
   left: 0;
   bottom: 0;
   height: 200px;
   width: 100%;
   background-color: #333;
   color: white;
   text-align: center;
}
.fe a
{
  display: block;
  color: rgb(245, 107, 17);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  float: right;

}
.footer{background-color:black ;}
.fe a:hover:not(.active) {
  
  
  color: white;
  transition-delay: 5;
}
#footlist
{
  list-style-type: none;
  margin: 0;
  
  padding: 0;
  overflow: hidden;
  background-color: #000;
    
}
#footlist .fef
{
  margin-top: 5px;
}
iframe
{
  height: inherit;
  float: left;
  width: 300px;
  margin-left: 70px;
}
.fef a
{
  font-size: 20px;
  line-height: 30px;
  font-family: roboto;
  color: rgb(245, 107, 17);
  text-decoration: none;

}
#footlist h2
{
  font-family: roboto;
  color: white;
}
#footertxt
{
  margin-top: 10px;
}
#slider
{
  height: 500px;
  width: 100%;
}

#slimg
{
  height: inherit;
  width: inherit;
  opacity: ;
}
#sltext
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:autumn;
  font-size: 40px;
  opacity: 0.8;
  color: whitesmoke;
}
#sub
{
  font-family: roboto;
  color: green;
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: 40px;
}

#abt
{
  height: 500px;
  width: 100%;

}
#abt1
{
  width: 50%;
  height: relative;
  float: left;
  
}
#abt1 h1
{
  margin-top: 30px;
  margin-left:30px ;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}
#abt1 #txt
{
  margin-left:30px ;
  color: rgb(245, 107, 17);
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}

#line
{
  margin-left: 10px;
  color: grey;

}
#abt1 #para
{
  margin-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  font-style: oblique;
}
#abt1 button
{
  margin-left: 30px;
  margin-top: 20px;
  height: 40px;
  width: 230px;
  font-size: 16px;

}
#abt button a{text-decoration: none; color: black;}

#abt2
{
  float: right;
  width: 30%;
  height: relative;

}
#abt2 h1
{
  margin-top: 30px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  
}
#abt2 li
{
  margin-top: 30px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 20px;
}
#ceo
{
  width: 100%;
  height: 500px;
  background-color: #e6e5e0;
}
#ceo p
{
  font-size: 30px;
  padding: 30px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}
#ceo img
{
  height: 150px;
  width: 155px;
  border-radius: 58%;
}
#ceo h3
{
  padding-top: 30px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
  color: #626262;
  font-style: italic;
}


#prt
{
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
}
#prt h1
{
  padding-top: 40px;
  text-align: center;
  font-family: "Roboto", Arial, Tahoma, sans-serif;

}
#prt p
{
  margin-top: 20px;
  margin-left: 47px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;

}

#prt1,#prt2,#prt3,#prt4
{
  padding-left: 60px;
  width: 20%;
  height: 160px;
  margin-top: 90px;
}
#prt1{float: right;}
#prt2{float: left;}
#prt3{float: right;}
#prt4{float: left;}

#prt1 img,#prt2 img,#prt3 img,#prt4 img
{
  border-radius: 10%;
}


/* (WALEED) faqs styling */

main
{
  max-width: 800px;
  margin: 5vh auto;
  padding: 20px;
}

h2{
  font-size: 0.8cm;
  font-weight: 400;
  color: #5e5d5d;
}

.faq{
  padding: 20px 30px;
  border: 1px solid rgba(0 0 0 / .1);
  border-radius: 5px;
  color: #979797;
  position: relative;
  line-height:1.5cm ;
  margin-top: 15px;
}

.faq .faq_text{
  width: 90% ;
}

.btn{
  color: #5e5d5d;
  position: absolute;
  right: 25px;
  top: 60px;
  font-weight: 400;
  font-size: 1.2cm;

}

.faq.open h2{
  color: #00848f;
}

.faq p{
  display: none;
}

.faq.open p{
  display: block;
  font-size: 25px;
}

.faq.open .btn{
  color: #00848f;
}


/* contact us styling */

#gt
{
  height: 400px;
  width: 100%;
}
#gt1
{
  width: 45%;
  padding-top:20px ;
  float: right;
}
#gt2
{
  width: 45%;
  float: left;

}
#gt2 input,textarea,#btncf
{
  height: 30px;
  width: 300px;
  margin-left: 180px;

}
#gt2 form
{
  margin-top: 70px;
}

#btncf
{
  background-color: white;
  color: green;

}

#ctxt
{
  padding-top: 20px;
  font-family: arial;
}
#gt1 h3
{
  line-height: 35px;
  font-size: 15px;
  padding-left: 20px;
}

/* about us styling */
#abus
{
  height: 600px;
  width: 100%;
}
#a1
{
  padding-top: 30px;
  padding-left: 40px;
  font-family: roboto;
  width: 60%;
  float: left;
}
#a2
{
  padding-top: 35px;
  float: right;
  width: 30%;
}

/* packages styling */

#pkg
{
  width: 100%;

  height: 400px;
}
#pkg1,#pkg2
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#pkg1{float: left; padding-left: 190px;}
#pkg2{float: right;}

#pkgt
{
  width: 100%;
  height: 400px;
  
}
#pkg3,#pkg4
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#pkg3{float: left; padding-left: 190px;}
#pkg4{float: right;}

#pkg h2{  font-family: roboto; }
#pkgt h2{  font-family: roboto;}

a{text-decoration: none;}

/* domestic styling */

#dpkg
{
  width: 100%;

  height: 500px;
}
#dpkg1,#dpkg2
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#dpkg1{float: left; padding-left: 190px;}
#dpkg2{float: right;}

#dpkgt
{
  width: 100%;
  height: 700px;
  
}
#dpkg3,#dpkg4
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#dpkg3{float: left; padding-left: 190px;}
#dpkg4{float: right;}

#dpkg h2{color:rgb(245, 107, 17) ; font-family: roboto; }
#dpkgt h2{color:rgb(245, 107, 17) ; font-family: roboto;}

#dpkg li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#dpkgt li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#dpkg button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  border-style: solid;
}
#dpkgt button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);

  border-style: solid;
}

/* sports styling */

#spkg
{
  width: 100%;

  height: 500px;
}
#spkg1,#spkg2
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#spkg1{float: left; padding-left: 190px;}
#spkg2{float: right;}

#spkgt
{
  width: 100%;
  height: 500px;
  
}
#spkg3,#spkg4
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#spkg3{float: left; padding-left: 190px;}
#spkg4{float: right;}

#dpkg h2{color:rgb(245, 107, 17) ; font-family: roboto; }
#dpkgt h2{color:rgb(245, 107, 17) ; font-family: roboto;}


#spkg button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  border-style: solid;
}
#spkgt button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);

  border-style: solid;
}

/* international styling */

#ipkg
{
  width: 100%;

  height: 500px;
}
#ipkg1,#ipkg2
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#ipkg1{float: left; padding-left: 190px;}
#ipkg2{float: right;}

#ipkgt
{
  width: 100%;
  height: 800px;
  
}
#ipkg3,#ipkg4
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#ipkg3{float: left; padding-left: 190px;}
#ipkg4{float: right;}

#ipkg h2{color:rgb(245, 107, 17) ; font-family: roboto; }
#ipkgt h2{color:rgb(245, 107, 17) ; font-family: roboto;}

#ipkg li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#ipkgt li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#ipkg button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  border-style: solid;
  margin-top: 20px;
}
#ipkgt button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  margin-top: 20px;
  border-style: solid;
}

/* north styling */

#npkg
{
  width: 100%;

  height: 500px;
}
#npkg1,#npkg2
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#npkg1{float: left; padding-left: 190px;}
#npkg2{float: right;}

#npkgt
{
  width: 100%;
  height: 800px;
  
}
#npkg3,#npkg4
{
  width: 40%;
  margin-top: 50px;
 margin-left: 20px;
}
#npkg3{float: left; padding-left: 190px;}
#npkg4{float: right;}

#npkg h2{color:rgb(245, 107, 17) ; font-family: roboto; }
#npkgt h2{color:rgb(245, 107, 17) ; font-family: roboto;}

#npkg li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#npkgt li
{
  color:grey;
  font-size: 20px;
  font-family: roboto;
  line-height: 30px;

}
#npkg button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  border-style: solid;
  margin-top: 20px;
}
#npkgt button
{
  width: 250px;
  height: 30px;
  background-color: rgb(245, 107, 17);
  margin-top: 20px;
  border-style: solid;
}





